@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
@page { margin: 0; }

/* ======= Colors ======= */
.text-red {
  color: #a01313;
}
.bg-background{
  background-color: #f7f2f2; 
}

/* ======= Topbar ======= */
#topbar {
  padding: 10px 0;
  font-size: 16px;
}
#topbar a {
  color: #000;  
}
#topbar a:hover {
  text-decoration: none;
  color: #b11414;
}

/* ======= Navbar ======= */
.navbar{
  background-color: #a01313;
  border-color: #a01313;
}
.navbar a{
 color: rgba(255, 255, 255, 0.507);
}
.navbar .navbar-brand,
.navbar a:hover,
.navbar a.active{
  color: white;
}
.navbar-toggler:focus{
  outline: none;
  box-shadow: 0 0 1pt 1pt white;
}
.navbar a.active{
  border-bottom:3px solid white;
}

/* ======= Carousel ======= */
.carousel h1{
  font-size: 48px;
  font-weight: 900;
}
.carousel p{
  font-size: 24px;
}
.carousel-fluid{
  max-width:100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.carousel-control-prev, .carousel-control-next{
  width: 10%;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 20%;
  height: 5px;
}
@media (max-width: 992px) { 
  .carousel-fluid{
    height: calc(100vh - 70px);
  }
}
 
/* ======= Nav Cardápio =======*/
.container-menu{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 15px;
    margin: auto;
    grid-column-gap: 5px;
    overflow: scroll;
}
@media (max-width: 1200px) { 
  .container-menu{
    width: 100%;
  }
}
.box-menu{
    width: 220px;
    height: 120px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: grey;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
@media (max-width: 920px) { 
  .box-menu{
    width: 160px;
    height: 90px;  
  }
}
.box-menu img{
  opacity: 0.8;
}
.box-menu:hover .hover, .box-menu.active .hover{
  background: #a01313a1;
}
.box-menu h4{
  font-size:26px;
  font-weight: bold;
  position: absolute;
}
.hover{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  opacity: 1;  
  background: #08020169;
}
#pills-week-days .box-menu,#pills-week-days .box-menu img{
  height: 400px;
}
#pills-week-days .box-menu img{
  opacity: 1;
}

/* ======= About Us =======*/
.shadow{
  width: 80%;
}
@media (max-width: 1199.98px) {
  .shadow{
    width: 95%;
  }
}
.about-fluid{
  max-width:100%;
  height:50vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width:568px){
  .about-fluid{
    height:73vh;
  }
}
@media (min-width:920px){
  .about-fluid{
    height:55vh;
  }
}

/* ======= Scrollbar =======*/
.scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 8px;
 }
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(41, 39, 39)), color-stop(0%, rgb(54, 36, 36)),
  color-stop(21%,  rgb(107, 51, 51)), color-stop(52%, rgb(148, 48, 48)), color-stop(78%, rgb(206, 71, 71)), to(red));
}
